.bundle
db/*.sqlite3
log/
tmp/**/*
tmp/*.*
config/database.yml
config/environments/development.rb
system/
.rvmrc
.DS_Store
*/.DS_Store
public/ckeditor_assets/
public/all.csv
public/newsl.csv
public/skrz_*
public/assets/
old_horizon/
.sass-cache/