<div class="row-fluid row-dynamic-el" style="margin-bottom:10px;">
	<div class="span12">
		<div class="row-fluid head_text">
			<div class="span12">
				<h1>Step 3: Check out</h1>
				<h4>
					Almost there! We just need some info about you and your listing will go to the world
				</h4>
			</div>
		</div>
	</div>
</div>

<%= link_to "Pay", :controller => "jobs", :action => "congratulation", :id => @job %>