<div class="row-fluid row-dynamic-el" style="margin-bottom:-40px;">
	<div class="span12">
		<div class="row-fluid head_text">
			<div class="span12">
				<h1>Congratulation</h1>
				<h4>
					That was easy! Since it was free, we need to check it first. Your listing should be live within 24 hours!
				</h4>
			</div>
		</div>
	</div>
</div>