<div class="row-fluid row-dynamic-el">

	<div class="span12">
		<div class="divider_shadow dynamic_el ">
			<h3 class="block-title">FEATURED WORK</h3>
			<span class="block-desc">Our best work</span>
		</div>
		<section id="portfolio-preview-items" class=" row-fluid no-carousel four-cols">
			<div class="portfolio-item touchcarousel-item span3">

				<div class="visual">

					<div class="visual_image face">

						<img src="/assets//1-208x168.jpg" alt=""></div>
						<div class="project face">
							<div class="content">
								<h4>
									<a href="singleportfolio.html">Little Frank’s Secret</a>
								</h4>
								<p>
									Morbi sed scelerisque justo. Nullam facilisis lacus a turpis…
								</p>
							</div>

							<div class="likes" data-link="http://trusted1.themeple.co/wp-admin/admin-ajax.php" data-nonce="bd68b3d007" data-post_id="232">49</div>

						</div>

					</div>
					<h6 class="category-out">apps</h6>
				</div>
				<div class="portfolio-item touchcarousel-item span3">

					<div class="visual">

						<div class="visual_image face">

							<img src="/assets//121-208x168.jpg" alt=""></div>
							<div class="project face">
								<div class="content">
									<h4>
										<a href="singleportfolio.html">500+ Google Fonts</a>
									</h4>
									<p>
										Morbi sed scelerisque justo. Nullam facilisis lacus a turpis…
									</p>
								</div>

								<div class="likes" data-link="http://trusted1.themeple.co/wp-admin/admin-ajax.php" data-nonce="bd68b3d007" data-post_id="214">24</div>

							</div>

						</div>
						<h6 class="category-out">photography web</h6>
					</div>
					<div class="portfolio-item touchcarousel-item span3">

						<div class="visual">

							<div class="visual_image face">

								<img src="/assets//111-208x168.jpg" alt=""></div>
								<div class="project face">
									<div class="content">
										<h4>
											<a href="singleportfolio.html">Unlimited Colors</a>
										</h4>
										<p>
											Morbi sed scelerisque justo. Nullam facilisis lacus a turpis…
										</p>
									</div>

									<div class="likes" data-link="http://trusted1.themeple.co/wp-admin/admin-ajax.php" data-nonce="bd68b3d007" data-post_id="213">18</div>

								</div>

							</div>
							<h6 class="category-out">branding photography web</h6>
						</div>
						<div class="portfolio-item touchcarousel-item span3">

							<div class="visual">

								<div class="visual_image face">

									<img src="/assets//10-208x168.jpg" alt=""></div>
									<div class="project face">
										<div class="content">
											<h4>
												<a href="singleportfolio.html">Responsive Design</a>
											</h4>
											<p>
												Morbi sed scelerisque justo. Nullam facilisis lacus a turpis…
											</p>
										</div>

										<div class="likes" data-link="http://trusted1.themeple.co/wp-admin/admin-ajax.php" data-nonce="bd68b3d007" data-post_id="212">41</div>

									</div>

								</div>
								<h6 class="category-out">design web</h6>
							</div>
							<div class="portfolio-item touchcarousel-item span3">

								<div class="visual">

									<div class="visual_image face">

										<img src="/assets//9-208x168.jpg" alt=""></div>
										<div class="project face">
											<div class="content">
												<h4>
													<a href="singleportfolio.html">Enter Title Here</a>
												</h4>
												<p>
													Aorbi sed scelerisque justo. Nullam facilisis lacus a turpis…
												</p>
											</div>

											<div class="likes" data-link="http://trusted1.themeple.co/wp-admin/admin-ajax.php" data-nonce="bd68b3d007" data-post_id="210">40</div>

										</div>

									</div>
									<h6 class="category-out">branding design uxui</h6>
								</div>
								<div class="portfolio-item touchcarousel-item span3">

									<div class="visual">

										<div class="visual_image face">

											<img src="/assets//8-208x168.jpg" alt=""></div>
											<div class="project face">
												<div class="content">
													<h4>
														<a href="singleportfolio.html">Add New Portfolio Entry</a>
													</h4>
													<p>
														Morbi sed scelerisque justo. Nullam facilisis lacus a turpis…
													</p>
												</div>

												<div class="likes" data-link="http://trusted1.themeple.co/wp-admin/admin-ajax.php" data-nonce="bd68b3d007" data-post_id="209">26</div>

											</div>

										</div>
										<h6 class="category-out">photography uxui web</h6>
									</div>
									<div class="portfolio-item touchcarousel-item span3">

										<div class="visual">

											<div class="visual_image face">

												<img src="/assets//71-208x168.jpg" alt=""></div>
												<div class="project face">
													<div class="content">
														<h4>
															<a href="singleportfolio.html">New Media Options</a>
														</h4>
														<p>
															Morbi sed scelerisque justo. Nullam facilisis lacus a turpis…
														</p>
													</div>

													<div class="likes" data-link="http://trusted1.themeple.co/wp-admin/admin-ajax.php" data-nonce="bd68b3d007" data-post_id="208">24</div>

												</div>

											</div>
											<h6 class="category-out">branding photography web</h6>
										</div>
										<div class="portfolio-item touchcarousel-item span3">

											<div class="visual">

												<div class="visual_image face">

													<img src="/assets//6-208x168.jpg" alt=""></div>
													<div class="project face">
														<div class="content">
															<h4>
																<a href="singleportfolio.html">Bring It On</a>
															</h4>
															<p>
																Morbi sed scelerisque justo. Nullam facilisis lacus a turpis…
															</p>
														</div>

														<div class="likes" data-link="http://trusted1.themeple.co/wp-admin/admin-ajax.php" data-nonce="bd68b3d007" data-post_id="207">12</div>

													</div>

												</div>
												<h6 class="category-out">branding design web</h6>
											</div>
										</section>
									</div>

								</div>