<div class="row-fluid row-dynamic-el">
	<div class="span12">
		<div class="divider_shadow dynamic_el">
			<h3 class="block-title">Hot Job Offers</h3>
			<span class="block-desc">Check out latest postings</span>
		</div>
		
		<div class="row-fluid">
			<div class="span12 sc-col">
				<ul class="services_list themeple_sc">
					<li> <i class="icon-star "></i>
						<a href="#">Branding &amp; Identites</a>
					</li>
					<li> <i class="icon-hand-right "></i>
						<a href="#">Advertising</a>
					</li>
					<li>
						<i class="icon-random "></i>
						<a href="#">Strategy</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>