<section id="slider-fixe" class="slider" style='margin-top: -50px;'>

	<div class="container">
		<div class="row">
			<div class="span12">
				<div id="layerslider_14" style="width: 940px; height: 415px; margin: 0px auto; ">
					<div class="ls-layer"  style="slidedirection: right; slidedelay: 4000; durationin: 1500; durationout: 2000; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">
						<img alt=""  class="ls-s2"  src="/assets/sliderlaptop1.png"  style="position: absolute; top: 50px; left: 339px;    durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0; ">
						<img alt=""  class="ls-s2"  src="/assets/slideriphone.png"  style="position: absolute; top: 176px; left: 793px; slidedirection : top;   durationin : 1500; durationout : 1500; easingin : easeOutBounce; easingout : easeInOutQuint; delayin : 1200; delayout : 0; showuntil : 0; ">
						<h1  class="ls-s2" style="position: absolute; top:103px; left: 21px; slidedirection : top; slideoutdirection : top; durationin : 1500; durationout : 1500; easingin : easeInBack; easingout : easeInOutQuint; delayin : 2000; delayout : 0; showuntil : 0;  white-space: nowrap;">Business Made Beautiful.</h1>
						<h1  class="ls-s2" style="position: absolute; top:137px; left: 22px; slidedirection : top; slideoutdirection : top; durationin : 1500; durationout : 1500; easingin : easeInSine; easingout : easeInOutQuint; delayin : 1800; delayout : 0; showuntil : 0;  white-space: nowrap;">All You Will Ever Need.</h1>
						<p  class="ls-s2" style="position: absolute; top:187px; left: 19px; slidedirection : left;  durationin : 1500; durationout : 1500; easingin : swing; easingout : easeInOutQuint; delayin : 2800; delayout : 0; showuntil : 0;  white-space: nowrap;">Used by thousands of successful freelancers and companies</p>
						<p  class="ls-s2" style="position: absolute; top:207px; left: 20px; slidedirection : left;  durationin : 1500; durationout : 1500; easingin : swing; easingout : easeInOutQuint; delayin : 3000; delayout : 0; showuntil : 0;  white-space: nowrap;">worldwide, Trusted gives you everything to run your site.</p>
						<div  class="ls-s2" style="position: absolute; top:0px; left: 0px;   durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;  white-space: nowrap;"></div>
						<p  class="ls-s2" style="position: absolute; top:277px; left: 21px; slidedirection : bottom;  durationin : 1500; durationout : 1500; easingin : easeOutBounce; easingout : easeInOutQuint; delayin : 3200; delayout : 0; showuntil : 0; font-size:16px; white-space: nowrap;">
							<a href="#" class="slider_button">PURCHASE NOW</a>
						</p>
					</div>
					<div class="ls-layer"  style="slidedirection: right; slidedelay: 4000; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">
						<img alt=""  class="ls-s2"  src="/assets/shopbg2.png"  style="position: absolute; top: -87px; left: -346px; slidedirection : fade; slideoutdirection : fade;  durationin : 1500; durationout : 1500; easingin : easeInSine; easingout : easeInOutQuint; delayin : 100; delayout : 100; showuntil : 0; ">
						<img alt=""  class="ls-s2"  src="/assets/ipadshop1.png"  style="position: absolute; top: 47px; left: 19px; slidedirection : bottom;   durationin : 1500; durationout : 1500; easingin : easeInExpo; easingout : easeInOutQuint; delayin : 800; delayout : 100; showuntil : 0; ">
						<a href="index79bf.html?page_id=169" target="_self"  class="ls-s2"  style="position: absolute; top: 262px; left:585px; display: block;   durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0">
							<img alt=""  src="/assets/s1thumb1.png"  style=""></a>
							<a href="index79bf.html?page_id=169" target="_self"  class="ls-s2"  style="position: absolute; top: 261px; left:707px; display: block;   durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0">
								<img alt=""  src="/assets/s2221.png"  style=""></a>
								<h1  class="ls-s2" style="position: absolute; top:182px; left: 583px;   durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;  white-space: nowrap;">The best app for you</h1>
								<p  class="ls-s2" style="position: absolute; top:219px; left: 585px;   durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;  white-space: nowrap;">Watch our videos & services</p>
							</div>

						</div>
					</div>
				</div>
			</div>

		</section>